.munisButton {
    position: fixed;
    top: 5rem;
    right: 10px;
    z-index: 998;
   
}

.munisPanel {
    position: fixed;
    top: 3rem;
    height: calc(95vh - 2rem);
    width: 25em;
    right: 10px;
    z-index: 999; 
    background-color: white;
    border-radius: .5rem;
}